:root{
    --width-figura:120px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    border: 2px solid black;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    background-color: black;
    
}
#test img{
    width: var(--width-figura);
    height: auto;
    /* transition: transform 10s ease;  */
    /* transition-duration: 20ms; */
    /* transform: translate(var(--custom-x, 0), var(--custom-y, 0)); */
}